/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*.p12
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
notes.php
usafcloud-b4e7b1ec9962.json
usafcloud-f00169c02ecd.json
credentials.json
token.json
