/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*.p12
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
service-provider-234807-62ebe505f870.json
credentials.json
